.btn-first-page {
  background-color: #bea5ae;
  padding: 10px;
}

.btn-new-page {
  background-color: #bea5ae;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.btn-new-page:hover {
  transition: ease-in-out;
  background-color: #d6d8da;
  cursor: pointer;
}

.show-loader {
  text-align: center;
  margin-top: 100px;
}
.load-next-records {
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 5px inset;
}
